.firstselector {
    color: red;
}

#string-id {
    color: green;
}

div p strong,
div em {
    color: blue;
}

.main-link {
    color: red;
    text-decoration: none;
}

.main-link:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

.main-link:active {
    text-decoration: line-through;
}

.main-link:visited {
    text-decoration: line-through;
    color: grey;
}

input {
    color: blue;
}

input:focus {
    color: red;
}

p.text:not(:empty) {
    color: grey;
}

p.text:empty::after {
    content: attr(title);
}

#some-id::before {
    content: "Yo";
    color: grey;
    text-decoration: line-through;
}

/* К объектам - p, с классом - text, псевдоклассом - empty (пустые ячейки) будет применен следующий стиль*/

p.main-link::first-letter {
    color: green;
}

/*Part5*/
/* 
#Part5-img, */
body {
    /* background-color: #144665;
    color: aliceblue;
    background-image: url("https://wp-s.ru/wallpapers/1/24/495994728243395/zakat-na-xolme-vechernij-prichal.jpg");
    background-repeat: no-repeat;
    background-position: center; */
    color: aliceblue;
    background: #192e3b url("https://i.pinimg.com/originals/69/1f/1e/691f1e314427a6c4d83370badc03ebb8.jpg") no-repeat center top;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

/* работа с текстом */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');

.main-text {
    background: #192e3b;
    color: white;
    text-align: justify;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;

    text-transform: lowercase;
    word-spacing: 10px;
    letter-spacing: 1px;
    line-height: 30px;
}

/* Стили для блоков */

#block,
#string {
    background: #192e3b;
    height: 140px;
    width: 140px;
    border: 2px solid silver;
    border-bottom: dashed silver;
    border-right-style: dashed;
    border-radius: 15px 50% 25px;
    opacity: 0.6;
    margin: 20px;
    padding: 10px;

    display: block;
}

/* Позиционирование блоков */

.block2 {
    height: 200px;
    width: 200px;
    margin: 20px;
    background: #192e3b;
    border: 2px solid silver;
}

#first {
    float: left;
}

#second {
    float: left;
}

#linkweb6 a {
    color: rgb(190, 211, 255);
}